#die-container {
    margin: 2vh;
    justify-content: flex-start;
    margin: 4px;
}

.die {
    display: inline-block !important;
    height: 60px !important;
    width: 60px !important;
    border: 1px solid black;
    margin: 4px;
}

.deletion-flag {
    background-color: red;
}